$def with (session, route)
$:render.common.header(session, route)


<style type="text/css">
  .item-hover{cursor: pointer;background-color: #ffc;}
</style>

<script type="text/javascript">
  $$(function(){
    $$('.item').click(function(event) {
      /* Act on the event */
      $$('#myModal').load('/student/teacher/info',
        function(){
        /* Stuff to do after the page is loaded */
          $$('#myModal').modal();
      });
      
    });
    $$('.item').hover(function(event) {
      /* Act on the event */
      $$(this).toggleClass('item-hover');
    });
  })
</script>

<div class="container">
<div class="row">

  <div class="">
    <h2>导师库<small>&nbsp;</small></h2>
  </div>

  <hr>

$for i in range(83):
  <div class="col-sm-6 col-md-2">
    <div class="thumbnail item">
      <img src="/static/img/t_chenghd.jpg" alt="">
      <div class="caption">
        <h4>承恒达<small>教授 博导</small></h4>
        <p>人工智能与信息处理</p>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
          5/6
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

$:render.common.foot()
