$def with (session, route)
$:render.common.header(session, route)


<style type="text/css">
	dd{margin-bottom:20px}
</style>

<div class="container">

<div class="row">

  <div class="">
    <h2>我的导师<small>&nbsp;</small></h2>
    <hr>
  </div>

  <dl class="dl-horizontal">

    <dt>导师姓名</dt>
    <dd>张某某</dd>

    <dt>联系电话</dt>
    <dd>张某某</dd>

    <dt>电子邮箱</dt>
    <dd>gardenia@hit.edu.cn</dd>

    <dt>信息简介</dt>
    <dd>崔刚，教授，博士生导师，中国计算机学会高级会员，中国计算机学会容错计算专业委员会委员，哈工大计算机学院容错/嵌入/汽车计算研究中心主任，南京邮电大学兼职教授，浙江台州路桥科技创新孵化基地哈工大国家技术转移中心主任专家。研究方向：计算机体系结构、空间计算技术、可信性计算技术、容错计算技术、嵌入计算技术、（云）泛在计算技术、移动计算技术、汽车计算技术、物联网技术、传感器网技术、车载/车联网技术、工业控制技术、信息安全技术等。主持负责承担研究完成了多项国家863、部委重大科研项目及各种基金，典型如“神舟号”载人宇宙飞船容错计算机样机研制，863哈工大TS-1微小卫星容错计算机样机研制，多项多型号多种工作环境及军民任务要求的容错计算机系统及网络容错服务器系统研制，导弹武器红外仿真系统研制，工业控制容错系统研制，汽车网络控制系统，车载移动Ad Hoc，VANET系统，GPS/GSM/GIS移动定位系统，高倍率动力电池管理控制系统，声音识别系统，磁盘测试系统，穿戴SoC计算机系统,嵌入在线仿真系统等等。获得部级科技进步一等奖1项，二等奖2项，三等奖3项，发表国内外科技论文近200篇，编著教材1部，发明专利近40项。培养博士研究生20多名，硕士研究生50多名，本科生近百名。</dd>

    <dt>审核状态</dt>
    <dd>
      <span class="label label-default">未审核</span>
      <span class="label label-success">通过</span>
      <span class="label label-danger">未通过</span>
    </dd>


  </dl>

</div>

</div>


$:render.common.foot()
