$def with (data)

  <style type="text/css">
    dd{margin-bottom:10px}
  </style>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">$data.name<small>$data.pos</small></h4>
      </div>
      <div class="modal-body">

        <dl>

          <dt>电子邮箱</dt>
          <dd>$data.email</dd>

          <dt>联系电话</dt>
          <dd>$data.phone</dd>

          <dt>实验室</dt>
          <dd>$data.lab</dd>

          <dt>办公地点</dt>
          <dd>$data.office</dd>

          <dt>信息简介</dt>
          <dd>$data.intro</dd>

        </dl>

        <div class="alert alert-info">已有<span class="badge">$data.has</span>人选择该导师，还有<span class="badge">$(data.total - data.has)</span>个名额</div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="/student/choose/1">选择该导师</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
