$def with (session)
$:render.common.header(session)


<style type="text/css">

</style>

<script type="text/javascript">
  $$(function(){

  })
</script>

<div class="container">

<div class="row">

  <div class="">
    <h2>个人信息编辑<small>&nbsp;</small></h2>
    <hr>
  </div>

  <form class="form-horizontal" role="form">

    <div class="form-group">
      <label for="inputEmail1" class="col-sm-2 control-label">姓名</label>
      <div class="col-sm-10">
        <p class="form-control-static">李某</p>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="电子邮箱">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputEmail4" class="col-sm-2 control-label">电话</label>
      <div class="col-sm-10">
        <input type="tel" name="phone" class="form-control" id="inputEmail4" placeholder="联系电话">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputEmail5" class="col-sm-2 control-label">ADD</label>
      <div class="col-sm-10">
        <input type="tel" name="phone" class="form-control" id="inputEmail5" placeholder="联系电话">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail6" class="col-sm-2 control-label">个人介绍</label>
      <div class="col-sm-10">
        <textarea row='4' name='intro' class="form-control" id="inputEmail6" placeholder="个人情况介绍"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">提交修改</button>
      </div>
      </div>
    </div>
  </form>


</div>

</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div><!-- /.modal -->

$:render.common.foot()
