$def with (session, route)
$:render.common.header(session, route)


<style type="text/css">
  th, td{text-align: center;}
  dd{margin-bottom:10px}
</style>

<script type="text/javascript">
  $$(function(){
    $$('.show-info').click(function(event) {
      /* Act on the event */
      $$('#myModal').load('/teacher/student/info',
        function(){
        /* Stuff to do after the page is loaded */
          $$('#myModal').modal();
      });
    });
  })
</script>


<div class="container">

<div class="row">

  <div class="">
    <h2>我的学生<small>&nbsp;</small></h2>
    <hr>
  </div>

  <table class="table table-striped table-hover">
    <tr>
      <th>#</th>
      <th>姓名</th>
      <th>学号</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  $for i in range(5):
    <tr>
      <td>$loop.index</td>
      <td>李红霞</td>
      <td>1100300220</td>
      <td>
        <span class="label label-default">未审核</span>
        <!-- <span class="label label-success">通过</span> -->
        <!-- <span class="label label-danger">未通过</span> -->
      </td>
      <td><button class="btn btn-primary show-info">查看详细信息</button></td>
    </tr>
  </table>

</div>

</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

$:render.common.foot()

