$def with (session, route, data)
$:render.common.header(session, route)


<style type="text/css">
  th, td{text-align: center;}
  dd{margin-bottom:10px}
</style>

<script type="text/javascript">
  $$(function(){
    $$('.show-info').click(function(event) {
      /* Act on the event */
      $$('#myModal').load('/teacher/student/info/'+$$(this).data('id'),
        function(){
        /* Stuff to do after the page is loaded */
          $$('#myModal').modal();
      });
    });
  })
</script>


<div class="container">

<div class="row">

  <div class="">
    <h2>我的学生<small>&nbsp;</small></h2>
    <hr>
  </div>

  <table class="table table-striped table-hover">
    <tr>
      <th>#</th>
      <th>姓名</th>
      <th>学号</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  $for i in data:
    <tr>
      <td>$loop.index</td>
      <td>$i.name</td>
      <td>$i.no</td>
      <td>
      $if i.status=='wait':
        <span class="label label-default">未审核</span>
      $elif i.status=='pass':
        <span class="label label-success">通过</span>
      $elif i.status=='fail':
        <span class="label label-danger">未通过</span>
      $else:
        <span class="label label-danger">其他</span>
      </td>
      <td><button data-id="$i.id" class="btn btn-primary show-info">查看详细信息</button></td>
    </tr>
  </table>

</div>

</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

$:render.common.foot()

