$def with ()

  <style type="text/css">
    dd{margin-bottom:10px}
  </style>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">崔刚<small>1100200301</small></h4>
      </div>
      <div class="modal-body">

        <dl>

          <dt>班号</dt>
          <dd>1001201</dd>

          <dt>联系电话</dt>
          <dd>1804562465</dd>

          <dt>电子邮箱</dt>
          <dd>gardenia@hit.edu.cn</dd>

          <dt>个人介绍</dt>
          <dd>崔刚，教授，博士生导师，中国计算机学会高级会员，中国计算机学会容错计算专业委员会委员，哈工大计算机学院容错/嵌入/汽车计算研究中心主任，南京邮电大学兼职教授，浙江台州路桥科技创新孵化基地哈工大国家技术转移中心主任专家。研究方向：计算机体系结构、空间计算技术</dd>

        </dl>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">选择该学生</button>
        <button type="button" class="btn btn-danger">放弃</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
