$def with (session, route, data)
  
$:render.common.header(session, route)

<div class="container">
  <div class="row">
    
    <h2>导师管理</h2>
    <hr>

    <table class="table table-hover table-striped" style="margin-top:20px">
      <tr>
        <th>#</th>
        <th>姓名</th>
        <th>职称</th>
        <th>实验室</th>
        <th>操作</th>
      </tr>
    $for u in data:
      <tr>
        <td>$loop.index</td>
        <td>$u.name</td>
        <td>$u.pos</td>
        <td>$u.lab</td>
        <td>
          <a href="$config.root/admin/teacher/info/$u.id" class="btn btn-primary" target="_blank">编辑</a>
          <a href="$config.root/admin/del/teacher/$u.id" class="btn btn-danger" onclick="return confirm('确认删除 $u.name 的帐号吗？\n该操作无法取消。');">删除</a>
        </td>
      </tr>
    </table>

  </div>
</div>
  
$:render.common.foot()